
@media (max-width:1010px){
   .works{
      &__columns{
         grid-template-columns: repeat(3,1fr);
      }
      &__column{
         @if $number_col == 4 or $number_col == 7 or $number_col == 10 or $number_col == 13{
            &:last-child{
               grid-column-start: 2;
               grid-column-end: 3;
            }
         }
      }
   }
}
@media (max-width:960px){
   .header__burger{
      display: block;
      animation: 3s linear 5 pulsation;
      margin-right: 10px;
   }
   .purpose{
      &__columns{
         flex-wrap: wrap;
      }
      &__column{
         flex: 0 1 50%;
         margin: 0 auto;
         max-width: 300px;
         text-align: center;
         margin-bottom: 35px;
      }
   }
   .authors{
      &__inner{
         flex-wrap: wrap;
      }
      &__item{
         flex: 0 1 50%;
         margin: 0 auto;
      }
      &__name{
         font-size: 25px;
         margin-bottom: 7px;
      }
      &__job{
         font-size: 20px;
      }
      &__date{
         font-size: 20px;
      }
      &__text{
         font-size: 14px;
      }
   }

   .main{
      &__title,
      &__quote{
         text-align: center;  
      }
      &__categories{
         justify-content: center;
      }
   }
   .main__quote{
      margin-top: 20px;
      margin: 0 auto;
   }
   .projects{
      &__aside{
         padding: 40px 0;
         flex: 0 1 40%;
         text-align: center;
      }
   }
   .projects__row,
   .blog__row,
   .contacts__row{
      flex-wrap: wrap-reverse;
      justify-content: center;
   }
   .aside{
      &-t{
         font-size: 18px;
      }
      &__list-item{
         font-size: 16px;
         margin-bottom: 10px;
      }
      &__contacts{
         font-size: 14px;
      }
   }
   .comments{
      &__text,
      &__time{
         font-size: 15px;
      }
   }
   .projects__main{
      margin-right: 20px;
   }
   .blog{
      &__title{
         text-align: center;
      }
      &__quote{
         margin: 0 auto;
         text-align: center;
      }
      &__item-title{
         font-size: 25px;
         text-align: center;
      }
      &__item-img{
         max-width: 100%;
      }
      &__item-text{
         max-width: 400px;
      }
   }
   .contacts{
      &__title{
         text-align: center;
      }
      &__quote{
         text-align: center;
         margin: 0 auto;
      }
   }
}

@media (max-width:890px){
   .information__inner{
      justify-content: center;
   }
   .information .information__item:nth-child(1){
      padding-left: 100px;
      padding-right: 0;
   }
}
@media (min-width : 640px) and (max-width : 720px){

   .authors{
      &__inner{
         flex-wrap: wrap;
      }
      &__item{
         flex: 1 1 100%;
         margin: 0 auto;
         max-width: 300px;
      }
      &__inner{
         flex-wrap: wrap;
      }
      &__name{
         font-size: 20px;
         margin-bottom: 7px;
      }
      &__job{
         font-size: 17px;
         max-width: 100px;
      }
      &__date{
         font-size: 17px;
      }
      &__text{
         font-size: 13px;
      }
   }
   .collection{
      &__inner{
         flex-wrap: wrap;
      }
      
      &__row{
         max-width: 50%;
      }
      &__item{
         flex: 0 1 50%;
         text-align: center;
      }
      &__row:last-child{
         display: flex;
         padding: 0 40px;
         justify-content: space-between;
         .collection__item{
            flex: 0 1 50%;
         }
      }

      &__row:last-child .collection__item:first-child{
         margin-right: 100px;
      }
      &__image-box{
         width: 240px;
         margin: 0 auto;
      }
      &__info{
         margin: 0 auto;
      }
   }
}
@media (max-width:700px){
   .slider{
      &__text-box{
         &::before{
            top: -8%;
         }
      }
   }
   .works__columns{
      grid-template-columns: repeat(2,1fr);
   }
   .purpose{
      &__column{
         flex: 0 1 100%;
      }
   }
}

@media (max-width:640px){
   .main__collection{
      padding-bottom: 50px;
   }
   .authors{
      &__name{
         font-size: 18px;
         line-height: 20px;
         margin-bottom: 7px;
      }
      &__job{
         font-size: 17px;
      }
      &__date{
         font-size: 17px;
      }
      &__text{
         font-size: 14px;
         text-align: center;
      }
      &__item{
         flex: 0 1 65%;
         margin: 0 auto;
      }
   }
   .collection{
      &__row{
         display: block;
      }
      &__inner{
         display: block;
      }
      &__row{
         margin: 0 auto;
         max-width: 350px;
      }
      &__row:nth-child(1) &__item:nth-child(2) &__image{
         margin-left: -200px;
      }
      &__item{
         margin: 0 auto;
      }
      &__image-box{
         width: 100%;
      }
      &__info{
         text-align: center;
      }
   }
   .form__area{
      max-width: 354px;
   }
}
@media (max-width:540px){
   .blog__item-text{
      max-width: 300px;
   }
   .blog__pagination{
      left: 15px;
   }
   .footer{
      &__inner{
         flex-wrap: wrap;
      }
      &__rights,
      &__author{
         width: 100%;
         text-align: center;
      }
   }
   .slick-dots {
      button{
         width: 20px;
         height: 3px;
      }
   }
   .slider{
      &__info{
         max-width: 140px;
      }
      &__description{
         font-size: 20px;
      }
      &__date{
         font-size: 12px;
      }
   }
}
@media (max-width:500px){
   .blog__item-text{
      max-width: 200px;
   }
   .works__columns{
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: repeat($number_col,1fr);
   }
   .works__column:last-child{
      grid-column: span 1;
   }
}
@media (max-width:440px){
   .form__btn{
      margin-left: 10px;
   }
   .slider__text-box::before{
      top: -7%;
   }
   .main__categories{
      flex-wrap: wrap;
      margin: 0 auto;
      max-width: 440px;
      padding: 27px 50px;
      justify-content: center;
      height: 200px;
      &-item{
         flex: 0 1 20%;
         margin-left: 2px;
         text-align: center;
      }
   }
}
@media (max-width:390px){
   .form__area{
      max-width: 290px;
   }

   .slider__text-box::before{
      top: -6%;
   }
   .slider__info{
      display: none;
   }
}