@import "vars.scss";
@import "reset.scss";
@font-face {
   font-family: "Bebas";
   src: url("../fonts/Bebas-Regular-webfont.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNeueCyr";
   src: url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "HelveticaNeueItalic";
   src: url("../fonts/HelveticaNeueCyr-Italic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
}
@font-face {
   font-family: "HelveticaNeueMed";
   src: url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
}
*{
box-sizing: border-box;
}
body{
   font-family: "Bebas";
   font-weight: 400;
   font-size: 12px;
   line-height: 14px;
   overflow-x: hidden;
   background-image: url('../images/main/background.png');
   background-repeat:repeat;
}

.wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
.content{
   flex: 1 1 auto;
}
.slick-dots{
   position: absolute;
   right: 12px;
   bottom: 15px;
   display: flex;
   li{
      margin-left:7px;
   }
   li.slick-active button{
      background-color: #444444;
      transition: background-color .25s;
   }
   button{
      cursor:pointer;
      font-size: 0;

      border: none;
      width: 23px;
      height: 5px;
   }
}
.container{
   max-width: 961px;
   margin: 0 auto;
   padding: 0 10px;
}
.show__navbar{
   width: 100%;
   height: 7px;
   opacity: .8;
   background-color: #EBEBEB;
}
.header__burger{
   display: none;
   position: relative;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   cursor:pointer;

   span{
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: rgba($bold_accent,.8);
      &::before,
      &::after{
         content: '';
         position: absolute;
         height: 2px;
         width: 100%;
         background-color: rgba($bold_accent,.8);
         left: 0;
      }
      &::before{
         top: -10px;
      }
      &::after{
         top: 10px;
      }
   }
}
#header_active::before{
   @media(min-width:960px){
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 20%;
      top: -50px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 20px solid rgba(#EBEBEB,.8);
   }

}

.header{
   padding: 45px 0 55px;
   &__inner{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__logo-img{
      object-fit: cover;
      max-width: 95px;
      width: 100%;
   }
   &__list{
      @media(min-width:960px){
         display: flex;
      }
      @media(max-width:960px){
         display: block;
         transition: transform .5s ease-in-out;    
         width: 100%;
         position: absolute;
         left: 50%;
         background-color: #fff;
         z-index: 10;
         transform: translate(-50%,-250px);
      }
   }
   &__list.menu-ready{
      @media(max-width:960px){

         transform: translate(-50%,220px);
      }
   }

   &__list-item{
      margin-left: 60px;
      position: relative;
      @media(max-width:960px){
         margin-left: 0;
         display: block;
         padding: 10px 0;
         &#header_active::before{
            content: '';
            position: absolute;
            left: 1%;
            top: 17%;
            transform: translateX(-50%);
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 20px solid rgba(#EBEBEB,.8);
         }
      }
   }
   &__list-item:first-child{
      margin-left: 0;
   }
   &__list-link{
      display: block;
      @media(max-width:960px){
         display: block;
         text-align: center;
      }
   }
   &__what{
      display: block;
      width: 100%;
      color: #A5A5A5;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
   }
   &__link{
      font-size: 25px;
      line-height: 21px;
      color: $bold_accent;
      text-transform: uppercase;
   }
   &__list-link{
      border-radius: 50%;
      @media (min-width:960px){
         animation: 3s linear 5 pulsation;
      }
   }
   &__list-item:nth-child(1) .header__list-link{
      animation-delay:0s;
   }
   &__list-item:nth-child(2) .header__list-link{
      animation-delay:.3s;
   }
   &__list-item:nth-child(3) .header__list-link{
      animation-delay:.6s;
   }
   &__list-item:nth-child(4) .header__list-link{
      animation-delay:.9s;
   }
   &__list-item:nth-child(5) .header__list-link{
      animation-delay:1.2s;
   }
}
@keyframes pulsation{
   0%{
      box-shadow:0 0 0 0 rgba($puls_color,.9), 0 0 0 0 rgba($puls_color,.9);
   }
   40%{
      box-shadow:0 0 0 50px rgba($puls_color,0), 0 0 0 0 rgba($puls_color,.9);
   }
   80%{
      box-shadow:0 0 0 50px rgba($puls_color, 0), 0 0 0 30px rgba($puls_color,0);
   }
   100%{
      box-shadow:0 0 0 0 rgba($puls_color, 0), 0 0 0 30px rgba($puls_color,0);
   }
}

.slider{
   &__item{
      position: relative;
   }
   &__img{
      width: 100%;
      object-fit: cover;
      margin: 0;
   }
   &__info{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 12px 17px 10px 15px;
      background-color: #404040;
      min-width: 160px;
   }
   &__date{
      font-size: 14px;
      line-height: auto;
      color: #9a9a9a;
      display: block;
      text-transform: uppercase;
      margin-bottom: 7px;
   }
   &__description{
      font-size: 28px;
      line-height: auto;
      color: #fff;
      text-transform: uppercase;
   }
   &__text-box{
      padding: 20px 55px 20px 20px;
      background-color: #F8F8F8;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         top: -10%;
         left: 50%;
         transform: translateX(-50%);
         border-left: 10px solid transparent;
         border-right: 10px solid transparent;
         border-bottom: 10px solid #F8F8F8;
      }
   }
   &__title{
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 10px;
      @extend %title-font;
      color: $bold_accent;
   }
   &__text{
      color: $bold_accent;
      max-width: 870px;
   }
}
.information{
   padding: 70px 0;
   &__inner{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
   }
   .information__item{
      flex: 1 1 33.333%;
      display: flex;
      flex-direction: column;
      padding: 0 20px;
      @media(max-width:890px){
         margin-bottom: 25px;
         flex: 0 1 50%;
      }
      &:first-child{
         margin-top: 0;
      }
      @media(max-width:640px){
         margin-bottom: 0;
         margin-top: 35px;
         flex: 0 1 100%;
         align-items: center;
      }
   }
   &__main{
      flex: 1 1 auto;
   }
   &__line{
      display: flex;
      max-width: 265px;
   }
   &__img{
      object-fit: cover;
      max-height: 47px;
      height: 100%;
      margin-right: 35px;
      margin-bottom: 35px;
   }
   &__title{
      font-size: 20px;
      line-height: 24px;
      @extend %title-font;
      text-transform: uppercase;
      color: #464646;
   }
   &__text{
      max-width: 275px;
      color: $accent;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      margin-bottom: 25px;
   }
   &__link{
      flex: 0 0 15px;  
      padding-left: 32px;
      background: url('../images/more.png') 0 50% no-repeat;
      line-height: 18px;
      font-size: 14px;
      @extend %title-font;
      color: $bold_accent;
   }
}
.works{
   padding: 0 0 70px;
   &__title{
      text-align: center;
      background-image: url('../images/main/works_bg.png');
      margin-bottom: 50px;
      span{
         display: inline-block;
         font-size: 18px;
         line-height: 18px;
         @extend %title-font;
         text-transform: uppercase;
         color: $bold_accent;
         background-color: #fff;
         padding: 0 30px;
      }
   }
   &__columns{
      display: grid;
      grid-template-columns:repeat(4, 1fr) ;
      grid-template-rows:repeat(auto,1fr);
      grid-gap: 20px;
      
   }
   &__img{
      object-fit: cover;
      width: 100%;
   }
   &__title-col{
      padding: 20px 0 22px;
      line-height: 18px;
      font-size: 14px;
      text-transform: uppercase;
      color: $accent;
      @extend %title-font;
   }
   &__text{
      line-height: 18px;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: $accent;
      margin-bottom: 20px;
   }
   &__link{
      padding-left: 32px;
      background: url('../images/more.png') 0 50% no-repeat;
      line-height: 18px;
      font-size: 14px;
      text-transform: uppercase;
      @extend %title-font;
      color: $bold_accent;
   }
}
 .purpose__title,
   .main__title,
   .blog__title,
   .contacts__title{
      color: $bold_accent;
      text-transform: uppercase;
      @extend %title-font;
      font-size: 28px;
      line-height: 18px;
      margin-bottom: 20px;
   }
   .purpose__quote,
   .main__quote,
   .blog__quote,
   .contacts__quote{
      max-width: 525px;
      font-family: "HelveticaNeueItalic";
      font-style: italic;
      color: #9E9E9E;
      margin-bottom: 15px;
   }
.purpose{
   padding: 20px 0 65px;

   &__columns{
      padding-top: 48px;
      margin-bottom: 60px;
      display: flex;
      margin: 0 -10px;
      position: relative;
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 10px;
         width: 98%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat:repeat-x;
      }
   }
   &__column{
      padding: 0 10px;
      flex: 1 1 33.333%;
   }
}
.column{
   &__title{
      text-transform: uppercase;
      @extend %title-font;
      font-size: 18px;
      line-height: 18px;
      color: $bold_accent;
      margin-bottom: 30px;
   }
   &__description{
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      line-height: 18px;
      color: #9E9D9D;
      display: inline-block;
      margin-bottom: 28px;
   }
   &__text{
      color: $bold_accent;
      line-height: 18px;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      max-width: 290px;
   }
}
.authors{
   &__inner{
      padding: 62px 0 100px;
      position: relative;
      display: flex;
      margin: 0 -10px;
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 10px;
         width: 97%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat:repeat-x;
      }
   }
   &__item{
      flex: 1 1 33.333%;
      padding: 0 10px;
   }
   &__row{
      background-color: #fff;
   }
   &__image{
      object-fit: cover;
      width: 100%;
      margin-bottom: 20px;
   }
   &__info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 12px;
      margin-bottom: 23px;
   }
   &__name{
      display: block;
      font-size: 18px;
      line-height: 18px;
      color: $bold_accent;
      @extend %title-font;
      text-transform: uppercase;
      margin-bottom: 2px;
   }
   &__job{
      display: block;
      color: #949393;
      @extend %title-font;
      line-height: 18px;
      text-transform: uppercase;
   }
   &__date{
      color: #515151;
      @extend %title-font;
      line-height: 16px;
   }
   &__text{
      max-width: 265px;
      margin: 0 auto;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: #515151;
      line-height: 16px;
      padding-bottom: 30px;
   }
}
.projects__row,
.blog__row,
.contacts__row{
   display: flex;
   justify-content: space-between;
}
.projects__main,
.blog__main,
.contacts__main{
   flex: 1 1 auto;
   max-width: 665px;
}
.projects{

   &__aside{
      flex: 0 0 220px;
   }
}
.main{
   &__categories{
      position: relative;
      display: flex;
      padding: 27px 0;
      &::before{
         content: '';
         position: absolute;
         
         width: 98%;
         top: 0;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat:repeat-x;
      }
   }
   &__categories-item{
      padding-left: 18px;
      margin-left: 12px;
      position: relative;
      &::before{
         content: '|';
         position: absolute;
         left: 0;
         top: 2px;
         font-size: 16px; 
      }
   }
   &__categories-item:first-child{
      margin-left: 0;
      padding-left: 0;
      &::before{
         content: '';
         color: $bold_accent;
      }
   }
   &__categories-link{
      font-size: 16px;
      line-height: 18px;
      @extend %title-font;
      text-transform: uppercase;
      color: $bold_accent;
   }
}
.collection{

   &__inner{
      display: flex;
      margin: 0 -10px;
   }
   &__row{
      padding: 0 10px;
      flex: 1 1 33.333%;
      display: block;
      max-width: 230px;
   }
   &__item{
      background-color: #fff;
      margin-bottom: 15px;
   }
   &__row:last-child{
      margin-bottom: 0;
   }
   &__image-box{
      overflow: hidden;
      display:flex;
      justify-content: center;
   }     
   &__image{
      object-fit: cover;
      width: auto;
   }
   &__info{
      max-width: 180px;
      margin: 0 auto;
   }
   &__title{
      font-size: 18px;
      padding: 18px 0 2px;
      line-height: 18px;
      @extend %title-font;
      color: $bold_accent;
      text-transform: uppercase;
   }
   &__theme{
      color: #949393;
      line-height: 18px;
      font-size: 15px;
      @extend %title-font;
      margin-bottom: 20px;
      display: inline-block;
      text-transform: uppercase;
   }
   &__text{
      color: #515151;
      font-size: 14px;
      line-height: 16px;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      padding-bottom: 22px;
   }
}
.aside{
   &-t{
      @extend %title-font;
      text-transform: uppercase;
      font-size: 14px;
      line-height: auto;
      color: #464646;
      margin-bottom: 15px;
   }
   &__text{
      padding: 30px 0 34px;
      position: relative;
      line-height: auto;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: $bold_accent;
   }
   &__list{
      padding: 25px 0 35px;
      position: relative;

   }
   &__list-link{
      font-family: "HelveticaNeueMed";
      font-weight: 500;
      line-height: auto;
      color: #464646;
   }
   &__contacts{
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: #8C8C8C;
   }
}
.line-above{
   position: relative;
   &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat: repeat-x;
   }
}
.comments{
   padding-top:25px;
   &__text{
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: #8C8C8C;
      margin-bottom: 10px;
   }
   &-link{
      color: #cccccc;
   }
   &__time{
      margin-bottom: 25px;
      color: #999999;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      
   }
}
.blog{
   padding: 35px 0 55px;
   &__main{
      position: relative;
   }
   &__item-title{
      position: relative;
      padding: 52px 0 20px;
      color: #464646;
      font-size: 15px;
      line-height: 35px;
      text-transform: uppercase;
      @extend %title-font;
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 99%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat: repeat-x;
      }
   }
   &__item-img{
      max-width: 651px;
      object-fit: cover;
      margin-bottom: 32px;
   }
   &__item-inner{
      display: flex;
      justify-content: space-between;
      margin-bottom: 57px;
   }
   &__info{
      max-width: 110px;
   }
   &__info-part{
      margin-bottom: 12px;
   }
   &__part-title{
      line-height: 20px;
      @extend %title-font;
      color: $bold_accent;
      font-size: 14px;
      margin-bottom: 2px;
      text-transform: uppercase;
   }
   &__part-text{
      line-height: 20px;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: #C4C4C4;
      font-size: 12px;

   }
   &__item-text{
      max-width: 510px;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      line-height: 18px;
      color: $bold_accent;
      p{
         margin-bottom: 30px;
      }
   }
   &__pagination{
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
   }
   &__pagination-item{
      margin-left: 8px;
   }
   &__pagination-link{
      background-color: #ccc;
      width: 23px;
      height: 5px;
      display: inline-block;
   }
   &__pagination-link#active{
      background-color: #444444;
   }
}
.blog__pagination-item:first-child{
   margin-left: 0;
}
.blog__item-text p:last-child{
   margin-bottom: 0;
}
.contacts{
   margin-bottom: 240px;
   &__text{
      margin-bottom: 40px;
      position: relative;
      padding: 46px 0 40px;
      line-height: auto;
      font-family: "HelveticaNeueCyr";
      font-weight: 400;
      color: #464646;
      p{
         margin-bottom: 25px;
      }
      &::before{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         width: 99%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat: repeat-x;
      }
   }
}
.form{
   .first_name {
      border-style: solid;
      border-width: 1px;
      border-color: rgb( 238, 238, 238 );
      background-color: rgb( 250, 250, 250 );
      position: absolute;
      left: 229px;
      top: 427px;
      width: 220px;
      height: 37px;
      z-index: 50;
    }
    
   &__input,
   &__area{
      border: 1px solid #EEEEEE;
      background-color: #FAFAFA;
      display: block;
      width: 100%;
      margin-bottom: 12px;
      outline: none;
      border-radius: 5px;
      &::placeholder{
         color: #C6C6C6;
         @extend %title-font;
         line-height: 28px;
         text-transform: uppercase;
      }
   }
   &__input{
      padding: 13px 15px;
      max-width: 217px;
   }
   &__area{
      width: 494px;
      height: 206px;
      resize: none;
      margin-bottom: 10px;
      padding: 8px 0 0 15px;
   }
   &__btn{
      border: none;
      background-color: transparent;
      padding-left: 32px;
      text-transform: uppercase;
      background: url('../images/more.png') 0 50% no-repeat;
      line-height: 18px;
      font-size: 14px;
      cursor: pointer;
      @extend %title-font;
      color: $bold_accent;
   }
}
.contacts__text p:last-child{
   margin-bottom: 0;
}
.footer{
   background-color: #F8F8F8;
   flex: 0 0 70px;
   position: relative;
   &__inner{
      display: flex;
      justify-content:space-between ;
      align-items: center;
      height: 55px;
      font-family: "HelveticaNeueCyr";
      color: #9B9B9B;
      line-height: 14px;
      
      &::before{
         content: '';
         position: absolute;
         top: -5px;
         left: 0;
         width: 100%;
         height: 5px;
         background-image: url('../images/main/footer_bd.png');
         background-repeat: repeat-x;
      }
   }

   &__bold{
      color: $bold;
   }
}
@import "media.scss";